
/****Navigation bar******/


body{
	background-color: #e7eaf1 ;
	margin-right:200px;
	margin-left:200px }

#hr{width: 100% ;
	background: black}


.websiteLogo {
	display: block ; 
	max-width:100px;
	}
#navbarSupportedContent{
    font-size: 20px ;
    color: black
}
.navbar{
    margin-top:0px
}    
.navbar-brand{
    font-size: 50px
}
	
.nav-link .nav-item{ 
	font-size: 50px ;
    color: black}


/***Carousel****/
.carousel {
	width:100%; /* Or try to use important */
	height:auto;
  }

/*Collections*/

#collections, .first-collections{
	margin-top : 100px;
	margin-bottom: 100px;
	text-align: center;
	width: 100%;
	
}
.col{
	size: 20%;
}



/*** Order***/

#order{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}



/**** Founder **/
#founder{
	text-align: center;
}


.founders, .founder1{
	width:50% ;
}






/**********Contact*/
#contact{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px ; 
	
}



/****Footer***/

.footer{
	display:block ;
	position:absolute ;
	left:0 ;
	right: 0 ;
	background-color: orange;
	width:100% ;
	text-align: center;
	padding:10px ;
	padding-top: 30px;
	margin-top:100px;
	font-family: 'Roboto', sans-serif ;
	font-size:15px;
	font-weight:bold; }

/*PC*/
@media(max-width:1281px){
	body{
		margin-left: 200px;
		margin-right: 200px;
	}

/*Mobile*/
@media (min-width:320px){
	body {
		margin:0px;}

	.navbar-brand{
		display:block ;
		position: relative;
    }
	#head3{
		height:90% }
	
	}#hr{width: 100% ;
		background: white}
	
	.websiteLogo {
		display: block ; 
		max-width:100px;
		}
	
		
	.nav-link .nav-item { 
		font-size: 50px ;}
			
    }
	
	

	#collections, .first-collections{
		margin-top : 100px;
		margin-bottom: 50px;
		text-align: center;
		width: 100%;	
	
	}
	.col{
		padding: 1%;
	}

	




	#contact{
		margin: 0px;
		width:100%
	
	}